body {
    background-color:rgb(74, 74, 78);
}

#div1 {
    background-color: rgb(75, 75, 75);
}

html {
    text-align: center;
}


.center,.onlythese {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid;
  }