<!doctype html>
<html style="background-color:rgb(74, 74, 78) ;">
<head>
    
<meta charset="UTF-8">

</head>
<body>
<h1>Feiglingsspiel</h1>
<button type="button"  id="0" onclick="playerchoice(0)" >Ausweichen</button>
<button type="button"  id="1" onclick="playerchoice(1)" >Weiterfahren</button>

<p id="3"></p>
<P id="4"></P>

<script>


    


    function playerchoice(e){
        document.getElementById("3").innerHTML = e
        
    }
    
    var y = Math.random();
    if (y < 0.5)
    y = 0
    else
    y= 1

    // random for enemy
    
    console.log(y);


    
    // this is also just for debuging
    document.write(y);
    document.write(playerchoice(e));
    conosle.log("yes it works stfu");
    
    // if statments
    if (playerchoice !== undefined) 
    {
            if (choice == 1 && y == 1){
                console.log("11")
                document.write("Tod");

            } else if (choice = 0 && y == 0){+
                console.log("00")
                document.write("Beide entkommen den Tod");
            } else if (choice == 1 && y == 0) {
                console.log("10")
                document.write("Gegner versucht auszuweichen. Spieler fährt weiter. Spieler gewinnt");
            } else if (choice == 0 && y == 1) 
            {
                console.log("01")
                document.write("Spieler versucht auszuweichen. Gegner fährt weiter. Gegner gewinnt");
            } 
            else {
                document.write(" it didnt work")
            }
    }

</script>

<p href="https://de.wikipedia.org/wiki/Feiglingsspiel">https://de.wikipedia.org/wiki/Feiglingsspiel</p>






</body>
</html>