<!doctype html>
<html style="background-color:rgb(74, 74, 78) ;">


<head>

<meta charset="UTF-8">


</head>


        <body>

        <h1>Feiglingsspiel</h1>

        <button type="btn0" onclick="clickFunction(0);">Ausweichen</button>
        <button type="btn1" onclick="clickFunction(1);">Weiterfahren</button>
        

        <p id="3"></p>

        


        <p href="https://de.wikipedia.org/wiki/Feiglingsspiel">https://de.wikipedia.org/wiki/Feiglingsspiel</p>
        <script type="text/javascript" src="{{ url_for('static', filename='logic.js') }}"></script>
        </body>

</html>