<!doctype html>
<html style="background-color:rgb(74, 74, 78) ;">
<body>

<p>addition</p>
 <input id="num1"/>
 <p>+</p>
 <input id="num2"/>
 <button onclick="func()">add...</button>

 <p id="result"></p>

 <script>
    function func(){
          var num1 = Number(document.getElementById("num1").value);
          var num2 = Number(document.getElementById("num2").value);
          var result = num1 + num2;

          document.getElementById("result").innerHTML = result;
          }
 </script>



</body>
</html>