<!doctype html>
<html >


<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='car-crash.png') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet"> 
</head> 
        
        <body> 
                <h1>Hazard</h1>
                <img src="{{ url_for('static', filename='amo.png') }}" id="amo">
                <br>
                <br>

                <button id="btn0" type="btn0" onclick="clickFunction(0);" value=" + ">Ausweichen</button>                       
                <button id="btn1" type="btn1" onclick="clickFunction(1);" value=" + ">Weiterfahren</button>                     
                <b><p id="3"></p></b>

                <a href="https://de.wikipedia.org/wiki/Feiglingsspiel">https://de.wikipedia.org/wiki/Feiglingsspiel</a>

                <p id="z"></p>
                <p id="x"></p>
                <br>
                <br>
                <button id="dis" type="button" disabled onclick="window.location.reload();"></button>
                <br>
                <br>
                <br>

                <h3>Bepunktung:</h3>
                <table class="center">
                        <tbody>
                                <tr>
                                        <td></td>
                                        <td></td>
                                        <th colspan="2" style="text-align:center">Spieler 2</th>
                                </tr>
                                <tr class="onlythese">
                                        <td></td>
                                        <td></td>
                                        <th class="onlythese">Ausweichen</th>
                                        <th class="onlythese">Weiterfahren</th>
                                </tr >
                                <tr class="onlythese">
                                        <th rowspan="2" style="text-align:center" class="onlythese">Spieler 1</th>
                                        <th class="onlythese">Ausweichen</th>
                                        <td style="text-align:center" class="onlythese">6/6</td>
                                        <td style="text-align:center" class="onlythese">2/8</td>
                                </tr >
                                <tr class="onlythese">
                                        <th class="onlythese">Weiterfahren</th>
                                        <td style="text-align:center" class="onlythese">8/2</td>
                                        <td style="text-align:center" class="onlythese">0/0</td>
                                </tr>
                        </tbody>
                </table>
                <br>
                <br>
                <br>
                <a href="/options">
                <button>Zu den Optionen</button>
                </a>
                <br>
                <br>
                <br>
                <button onclick="cleardata();">Die gespeicherten Punkte entfernen</button>
                <br>
                <br>
                <br>
                <p id="cur"></p>
                <script src="{{ url_for('static', filename='Logic.js') }}"></script>
        </body>

</html>