<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='car-crash.png') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet"> 
    </head>

    <body>
        <h1>Optionen</h1>
        <p id="state"></p>
        <button onmousedown="opse();">Punkt speicherung umschalten</button>
        <br>
        <a href="/">
        <button>Zum "Spiel" zurückkehren</button>
        </a>
        <p>Auf <b>aus</b> voreingestellt</p>
        <script src="{{ url_for('static', filename='option.js') }}"></script>
    </body>
</html>